
h2 Joukkuetilasto
block content
  each stat in tstats
    table(border=1)
      tr
        th(colspan=5) Vastaanotto 
        th(colspan=3) Syöttö
        th(colspan=4) Hyökkäys
        th(colspan=1) Torjunta
      tr
        th 1-nostot
        th Hyvät
        th(style='background: red') Virheet
        th Kaikki
        th(style='background: yellow') %        
        th Ässät
        th(style='background: red') Virheet
        th Kaikki
        th Pisteet 
        th(style='background: red') Virheet
        th Kaikki
        th(style='background: yellow') %
        th Torjunnat
      tr
        td
          =stat.passExc
        td
          =stat.passGood
        td
          =stat.passErr        
        td
          =stat.passTotal
        td
          =stat.passEff
        td
          =stat.serveAce
        td
          =stat.serveErr
        td
          =stat.serveTotal
        td
          =stat.attackExc
        td
          =stat.attackErr
        td
          =stat.attackTotal
        td
          =stat.attackEff
        td
          =stat.blockTot
    
    
