extends layout

block content
  h2 Joukkueet jo j채rjestelm채ss채
  
  ul
  each team in teams
    li
      = team.name
      | &nbsp;
      | (
      a(href="/teams/" + team.id + "/destroy") Poista
      | )
      | (
      a(href="/teams/" + team.name + "/edit") Muokkaa
      | )
  h2 Luo uusi joukkue
  form(action="/createteam", method="post")
    | Nimi: 
    input(type="text", name="name")
    | Ik채luokka: 
    input(type="text", name="age")
    input(type="submit")
  